.copyright {
  padding: 0 20px;
  background-color: var(--bgColorActive);
  box-shadow: inset -1px 0 var(--borderColor),
    inset 1px 0 var(--borderColor),
    inset 0 -1px var(--borderColor);
  &__container {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    border-top: 1px solid var(--colorFont);
  }
  &__link {
    margin-left: 10px;
  }
}
