.table {
  display: none;
  flex-grow: 1;
  overflow: scroll;
  background-color: #fff;
  &--active {
    display: block;
  }
  &__content {
    width: 2400px;
    table-layout: fixed;
    border-collapse: collapse;
    color: #000;
  }
  &__cell {
    width: 300px;
    height: 28px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid var(--borderTableCell);
  }
}
