doctype html
html(lang="ru")

  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Главная страница
    link(rel="stylesheet", href="/css/style.min.css")

  body
    input.radio(id="main" type="radio" name="section" checked)
    input.radio(id="table" type="radio" name="section")
    .container
      header.switcher
        .switcher__tab.switcher__tab--main
          label.switcher__label(for="main") Приветствие
        .switcher__tab.switcher__tab--table
          label.switcher__label.switcher__label(for="table") Таблица

      main.page-content
        section.description
          p.description__text
            | Данное приложение создает массив из 2&nbsp;048&nbsp;объектов со свойствами id, name, color. Свойство id является последовательным номером объекта в массиве. Свойства name и color сгенерированы случайным образом.
          p.description__text
            | Созданный массив отрисовывается в таблице в разделе "Таблица". ОБновление приложения создает массив заново.
        section.table
          table.table__content Таблица

            

      footer.copyright
        .copyright__container
          .copyright__text
            | Приложение создано
            a.copyright__link(href="http://igoryarutkin.github.io/") И. Яруткиным

    template#row-template
      tr.table__row
        td.table__cell(data-bg-color="")

    script(src="app.js")
    
