doctype html
html(lang="ru")

  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Главная страница
    link(rel="stylesheet", href="/css/style.min.css")

  body
    .container
      header.switcher
        .switcher__tab.switcher__tab--active(id="main")
          span.switcher__label Приветствие
        .switcher__tab(id="table")
          span.switcher__label Таблица

      main.page-content
        section.description.description--active
          p.description__text
            | Данное приложение создает массив из 8&nbsp;x&nbsp;256&nbsp;объектов со свойствами id, name, color. Свойство id является последовательным номером объекта в массиве. Свойства name и color сгенерированы случайным образом.
          p.description__text
            | Созданный массив отрисовывается в таблице в разделе "Таблица". Обновление приложения создает массив заново.
        section.table
          table.table__content



      footer.copyright
        .copyright__container
          .copyright__text
            | Приложение создано
            a.copyright__link(href="http://igoryarutkin.github.io/") И. Яруткиным


    script(src="app.js")
